freezegun
-e git://github.com/infoxchange/lettuce.git@c97ad815ec2027e9f204ccd6362458f63c296402#egg=lettuce-dev
-e git://github.com/infoxchange/lettuce_webdriver.git@911e3af995f7792cbd1cd84555d988ccb5a3917c#egg=lettuce_webdriver-dev
mock
nose
pep8
pylint
pylint_mccabe
selenium >= 2.42.1
